main{
    width: 800px;
    height: 800px;
    background-color: darkgrey;
}



.a{
    background-color: cyan;
    height: 50px;
    width: 200px;
    position: relative;
    left: 600px;
    top: 20px;
    
}
.b{
    background-color:darkslateblue;
    height: 50px;
    width: 200px;
    position: absolute;
    top: 500px;
    left: 50px;


}
.c{
    background-color: indianred;
    height: 50px;
    width: 200px;
    position: fixed;
    top: 0px
}