*{
    padding: 0;
    margin: 0;
}
.container-global{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: azure;
}
.header{
    width: 100%;
    height: 120px;
    background-color: lavender
}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.container-main{
    width: 80%;
    height: 100%;
    background-color: darkgrey;
    display: flex;
    padding: 20px;
    gap: 20px;
}
section{
    width: 100%;
    height: 100%;
    background-color: darkslateblue;
}
aside{
    width: 200px;
    height: 100%;
    background-color: powderblue;
}
.footer{
    width: 100%;
    height: 120px;
    background-color: lavender
}