div{
    margin: 10px 10px 10px 10px;
    padding: 30px 500px 30px 500px;
    background-color: rgba(35, 1, 68, 0.856);
    color: rgb(230, 243, 255);
    border: 3px solid;
    border-color: rgb(25, 0, 114);
}