main{
    width: 1000px;
    height: 700px;
    background-color: rgb(44, 43, 43);
    padding: 50px;
}
section{
    width: 700px;
    height: 500px;
    background-color: darkorange;
    padding: 50px;
    margin: 50px
}
div{
    width: 100px;
    height: 100px;
    background-color: darkslateblue;
    position: relative;
    top: 60px;
    margin-left: 70px;
    padding: 5px;
    float: left;
    text-align: center;
    line-height: 100px;
}