*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
header{
    background-color: rgba(158, 158, 158, 0.603);
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
ul{
    display: flex;
    gap: 8px;
}