*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
header{
    background-color: rgba(158, 158, 158, 0.603);
    display: flex;
    justify-content:center;
    align-items: center;
}
header div{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul{
    display: flex;
    gap: 8px;
}
main{
    display: flex;
    justify-content: center;
    background-color: darkslategrey;
}
.container{
    width: 80%;
    padding: 100px;
    background-color: azure;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.block-1{
    width: 120px;
    height: 200px;
    background-color: darkcyan;
    order: 5;
}
.block-2{
    width: 120px;
    height: 250px;
    background-color: darkcyan;
    order: 4;
}
.block-3{
    width: 120px;
    height: 200px;
    background-color: darkcyan;
    order: 1;
}
.block-4{
    width: 120px;
    height: 250px;
    background-color: darkcyan;
    order: 2;
}
.block-5{
    width: 120px;
    height: 300px;
    background-color: darkcyan;
    order: 3;
}